<% include header %>
    <h1>MoneyPool</h1>
    
    <div class='row'>
        <div class="head-block biva-block">
            <h1 class="moneymoon-heading1 has-sx-margin">Préstamos para empresas y personas financiados por personas y empresas</h1>
            <h2 class="moneymoon-heading3 has-lg-margin">Menos gastos y más rentabilidad. Todo en línea, rápido y sin burocracia.</h2>
					
            <div class="head-actions">          
                <a href="/my/loan/new" class="moneypool-btn has-sx-margin">Quiero un Préstamo</a>
                <a href="/my/invest/do" class="moneypool-btn is-orange has-sx-margin">Quiero Invertir</a>
            </div>    					
        </div>    
    </div>

<% include footer %>
