<% var title = 'Ingreso de Usuario' %>
<% include ../header %>
    <h1>Ingreso de Usuario</h1>
<% if (message) { %>
    <div class='row'>
        <div class='error col-md-8'>
            <%= message %>
        </div>
    </div>
<% } %>       
    <div class='row'>
        <div class='col-md-4'>
            <form method="post">
              <div class="form-group">
                <label for="username">C칩digo de Usuario</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="C칩digo de Usuario">
              </div>
              <div class="form-group">
                <label for="password">Contrase침a</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Contrase침a">
              </div>
              <button type="submit" class="btn btn-default">Ingresar</button>
            </form>
        </div>
    </div>
<% include ../footer %>
