<% var title = 'Invertir en Solicitud de Préstamo' %>
<% include ../header %>
    <h1>Invertir en Solicitud de Préstamo</h1>
    <div class='row'>
        <div class='actions col-md-6'>
            <a href="/my" class="btn btn-info">Mi Cuenta</a>
            <a href="/my/oloan/<%= loanId %>" class="btn btn-info">Solicitud de Préstamo</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <form method="post">
              <div class="form-group">
                <label for="amount">Monto a Invertir</label>
                <input type="number" required min="100" class="form-control" name="amount" id="amount" placeholder="Monto a invertir">
              </div>
              <button type="submit" class="btn btn-default">Invertir</button>
            </form>
        </div>
    </div>
<% include ../footer %>
