<% var title = 'Pago Cuota de Mi Préstamo' %>
<% include ../header %>
    <h1>Pago Cuota de Mi Préstamo</h1>
    <div class='row'>
        <div class='actions col-md-6'>
            <a href="/my" class="btn btn-info">Mi Cuenta</a>
            <a href="/my/loan/<%= loanId %>" class="btn btn-info">Mi Préstamo</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <form method="post">
              <div class="form-group">
                <label for="amount">Monto a Pagar</label>
                <input type="number" required min="1" class="form-control" name="amount" id="amount" placeholder="Monto a solicitar">
              </div>
              <button type="submit" class="btn btn-default">Pagar</button>
            </form>
        </div>
    </div>
<% include ../footer %>
